* {
  box-sizing: border-box;
  text-transform: capitalize;
}
.app {
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 20px;
    input:first-child {
      background-color: #6640a8;
      display: block;
      width: 80%;
      border-radius: 8px;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      border: none;
      &::placeholder,
      &:focus {
        color: #fff;
      }
      &:focus {
        outline: #fff;
      }
    }
    input:last-child {
      flex: 1;
      height: 50px;
      background: #673ab7;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  div {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    span {
      background-color: #00bcd4;
      display: block;
      width: 80%;
      color: #fff;
      border-radius: 8px;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
    }
    button {
      flex: 1;
      height: 50px;
      background: #9e9e9e;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    background-color: #2196f3;
    color: #fff;
    opacity: 0.5;

    @media (max-width: 380px) {
      font-size: 0.7rem;
    }
  }
  a.active {
    opacity: 1;
  }
}
.app2 {
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 20px;
    input:first-child {
      background-color: #e23d8a;
      display: block;
      width: 80%;
      border-radius: 8px;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      border: none;
      &::placeholder,
      &:focus {
        color: #fff;
      }
      &:focus {
        outline: #fff;
      }
    }
    input:last-child {
      flex: 1;
      height: 50px;
      background: #ed3189d1;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  div {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    span {
      display: block;
      background-color: #e91e63;
      color: #fff;
      width: 80%;
      border-radius: 8px;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
    }
    button {
      flex: 1;
      height: 50px;
      background: #ec407a;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    background-color: #e23d8a;
    color: white;
    opacity: 0.5;
    @media (max-width: 380px) {
      font-size: 0.7rem;
    }
  }
  a.active {
    opacity: 1;
  }
}
